/* Styles go here */

.vis.network {
  background-color: #ffffff;
  width: 400px;
  height: 600px;
}

.vis.network .item {
  /*background-color: #008CBA;*/
  /*border-color: #008CBA;*/
  /*color: #ffffff;*/
  /*font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;*/
  /*font-kerning: auto;*/
  /*font-size: 13px;*/
  /*font-style: normal;*/
  /*font-variant: normal;*/
  /*font-variant-ligatures: normal;*/
  /*font-weight: normal;*/
}

.vis.network .item.green {
  background-color: green;
  border-color: green;
  color: #ffffff;
}

.vis.network .item.red {
  background-color: red;
  border-color: red;
  color: #ffffff;
}

.vis.network .item.orange {
  background-color: orange;
  border-color: orange;
}

.vis.network .item.magenta {
  background-color: magenta;
  border-color: magenta;
  color: #ffffff;
}

.vis.network .item.past {
  filter: alpha(opacity=50);
  opacity: 0.5;
}


/* ======= */
/* Cellule Design */
.cellule {
  background-color: lightgray;
  margin-bottom: 20px;
  padding: 10px 15px 0px 15px;
  border-radius: 10px;
}

.etudiant {
  font-size: 20px;
  font-weight: bold;
}

.linkedIn {
  background-color: lightseagreen;
  padding: 10px;
  margin-top: 5px;
  border-radius: 0px 0px 10px 10px;
}

.searchBox {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.searchTitle {
  margin: 0px 15px 10px 15px;
}

.specialisation {
  margin-bottom: 15px;
}

.searchBar {
  margin: 0px 15px 10px 15px;
  width: 97%;
  
}

.searchButton {
  margin-left: 15px;
  width: 97%;
}

.navigationMenu {
    margin-top: 30px;
    border-radius: 10px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid;
}