<div class="row" style="padding-left: 15px; padding-right: 15px">
    <div class="col-xs-2">
        <button ng-click="events.stopSimulation()">Stop animation</button>
        <button ng-click="events.startSimulation()">Start animation</button>

        <div>
            Informations sur l'objet selectionné
            <div>Label :{{selectedNode.label}}</div>
            <div>ModularityClass : {{selectedNode.attributes["Modularity Class"]}}</div>
            <div>Size : {{selectedNode.size}}</div>
            <div>x : {{selectedNode.x}}</div>
            <div>y : {{selectedNode.y}}</div>
        </div>
    </div>

    <div class="col-xs-10">
        <div ng-show="!visAvailable" style="width:100%">
            <uib-progressbar class="progress-striped active" animate="false" value="visProgress" type="success">
                <b>{{visProgress}}%</b>
            </uib-progressbar>
        </div>
        <vis-network data="data" options="options" height="80%" events="events"></vis-network>
    </div>

</div>